@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../media/checkersbg.jpg");
}
h1 {
  color: red;
}
html,
button,
input,
select,
textarea {
  /* Set your content font stack here: */
  font-family: 'Open Sans', sans-serif;
}
#board {
  border: 2px solid black;
}
.checkers-black {
  background-color: black;
}
.checkers-white {
  background-color: red;
  opacity: 0.2;
}
td {
  height: 80px;
  width: 80px;
}
.boardbackground {
  max-width: 678px;
  margin-left: auto;
  margin-right: auto;
}
img {
  height: 80px;
  width: 80px;
}
.selected {
  opacity: .5;
}
